<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header><img src="../assets/icon/carona.png" alt="Smiley face" height="42" width="42">&nbsp;&nbsp;&nbsp;COVID-19</ion-list-header>
                    <!-- <ion-note>hi@ionicframework.com</ion-note> -->

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title | titlecase }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>

<!-- <nav class="navbar navbar-expand-sm  navbar-light">
   
    <span class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavDropdown"><i class="fa fa-bars"></i></span>
    <ion-title>
        <img src="../assets/icon/carona.png" alt="Smiley face" height="42" width="42">&nbsp;&nbsp;&nbsp;<span class="appName">COVID-19</span>
    </ion-title>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav ml-auto ">
            <li class="nav-item" *ngFor="let p of appPages; let i = index"><a class="nav-link" [routerLink]="[p.url]">{{ p.title | titlecase }}</a></li>
        </ul>
    </div>
</nav> -->